#win_0 {
    position: relative;
    text-align:left;
    top: -5px;
    left: 0px;
    font-size: 32px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_1 {
    position: relative;
    text-align:left;
    top: -13px;
    font-size: 32px;
    color:red;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_2 {
    position: relative;
    text-align:left;
    top: -21px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_3 {
    position: relative;
    text-align:left;
    top: -29px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_4 {
    position: relative;
    text-align:left;
    top: -37px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_5 {
    position: relative;
    text-align:left;
    top: -45px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_6 {
    position: relative;
    text-align:left;
    top: -53px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_7 {
    position: relative;
    text-align:left;
    top: -61px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_8 {
    position: relative;
    text-align:left;
    top: -69px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#win_9 {
    position: relative;
    text-align:left;
    top: -77px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_0 {
    position: absolute;
    text-align: right;
    top: 3px;
    right: 600px;
    font-size: 32px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_1 {
    position: absolute;
    text-align: right;
    top: 33px;
    right: 600px;
    font-size: 32px;
    color:red;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_2 {
    position: absolute;
    text-align: right;
    top: 61px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_3 {
    position: absolute;
    text-align: right;
    top: 90px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_4 {
    position: absolute;
    text-align: right;
    top: 118px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_5 {
    position: absolute;
    text-align: right;
    top: 148px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_6 {
    position: absolute;
    text-align: right;
    top: 176px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_7 {
    position: absolute;
    text-align: right;
    top: 205px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_8 {
    position: absolute;
    text-align: right;
    top: 234px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#value_9 {
    position: absolute;
    text-align: right;
    top: 264px;
    right: 600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#Credit {
    position:absolute;
    text-align:left;
    top: 36px;
    left: 1574px;
    font-size: 32px;
    color:red;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#credit {
    position:absolute;
    text-align:left;
    top: 66px;
    left: 1600px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#Bet {
    position: absolute;
    text-align:left;
    top: 120px;
    left: 1598px;
    font-size: 32px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#bet {
    position: absolute;
    text-align:left;
    top: 150px;
    left: 1612px;
    font-size: 32px;
    color:burlywood;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#auto_hold {
    position: absolute;
    text-align:left;
    top: 208px;
    left: 1548px;
    font-size: 32px;
    color:blue;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#joker {
    position: absolute;
    text-align:left;
    top: 340px;
    left: 460px;
    font-size: 250px;
    font-style: italic;
    color:red;
    font-family: 'Algerian', cursive;
}
#card {
    position: absolute;
    text-align:left;
    top: 560px;
    left: 720px;
    font-size: 250px;
    font-style: italic;
    color:red;
    font-family: 'Algerian', cursive;
}
#left {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 10px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#right {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 1606px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#message_1 {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 734px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#message_2 {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 734px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#message_3 {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 734px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#message_4 {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 734px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#message_5 {
    position: absolute;
    text-align:left;
    top: 885px;
    left: 700px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#stop_1 {
    position: absolute;
    text-align:left;
    top: 843px;
    left: 115px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#stop_2 {
    position: absolute;
    text-align:left;
    top: 843px;
    left: 500px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#stop_3 {
    position: absolute;
    text-align:left;
    top: 843px;
    left: 880px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#stop_4 {
    position: absolute;
    text-align:left;
    top: 843px;
    left: 1260px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#stop_5 {
    position: absolute;
    text-align:left;
    top: 843px;
    left: 1635px;
    font-size: 32px;
    text-shadow: 2px 2px red;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    background-color: red;
}
#table {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 1300px;
    height: 280px;
    text-align: center;
    color: yellow;
    border: 8px solid;
    border-radius: 25px;
    background-color: red;
}
#Win {
    position: absolute;
    top: 140px;
    left: 10px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 128px;
}
#win_name {
    position: absolute;
    top: -10px;
    left: 10px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 128px;
}
#win_value {
    position: absolute;
    text-align: right;
    top: 140px;
    right: 20px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 128px;
}
#left_choice {
    position: absolute;
    top: 856px;
    left: 12px;
    width: 720px;
    height: 50px;
    text-align: center;
    color: yellow;
    border: 2px solid;
    border-radius: 5px;
    background-color: red;
}
#right_choice {
    position: absolute;
    top: 856px;
    left: 1150px;
    width: 725px;
    height: 50px;
    text-align: center;
    color: yellow;
    border: 2px solid;
    border-radius: 5px;
    background-color: red;
}
#Gambling {
    position: absolute;
    top: 0px;
    left: 220px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 48px;
}
#Cashing {
    position: absolute;
    top: 0px;
    left: 250px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 48px;
}
#victory {
    position: absolute;
    top: 856px;
    left: 572px;
    width: 720px;
    height: 50px;
    text-align: center;
    color: yellow;
    border: 2px solid;
    border-radius: 5px;
    background-color: red;
}
#You_win {
    position: absolute;
    top: -7px;
    left: 232px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 56px;
}
#high {
    position: absolute;
    top: 843px;
    left: 780px;
    font-size: 32px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#low {
    position: absolute;
    top: 880px;
    left: 800px;
    font-size: 32px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#low_choice {
    position: absolute;
    top: 500px;
    left: 580px;
    font-size: 128px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#high_choice {
    position: absolute;
    top: 500px;
    left: 580px;
    font-size: 128px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
#cheat {
    position: absolute;
    top: 40px;
    left: 1780px;
    font-size: 28px;
    color:yellow;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}